
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
    background-color: rgb(22,34,53);
    font-family: linecons;
    text-align:center;
}


.foottext{
    align-content: center;
    color:rgb(249,249,250);
    padding: 1rem;
}
 
.copyright{
    background-color:rgb(29,42,64) ;
    color:rgb(249,249,250);
    padding:1rem;

}

.MediaIcons .fa-facebook{
    color:rgb(249,249,250);

}

.MediaIcons .fa-twitter{
    color:rgb(249,249,250);

}

.MediaIcons .fa-pinterest{
    color:rgb(249,249,250);

}

.MediaIcons .fa-linkedin{
    color:rgb(249,249,250);

}

@media only screen and (max-width: 360px) {
}

